<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projet_PFC_Gestion_Systeme_Hotelier.Properties.Settings.gestionHotelConnectionString"
            connectionString="Data Source=SARAH-LAPTOP\SQLEXPRESS;Initial Catalog=gestionHotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>